# OpenMLDB Demo

Run and share your OpenMLDB applications. More docs in https://docs.openmldb.ai/.

## Connect OpenMLDB

In [ ]:
import openmldb

db = openmldb.dbapi.connect('demo_db','0.0.0.0:2181','/openmldb')

openmldb.sql_magic.register(db)

## Create Database

Create the test database and use as default database.

In [ ]:
%%sql 

CREATE DATABsASE demo_db

## Create Table

In [ ]:
%%sql

CREATE TABLE demo_table (c1 string, c2 int, c3 bigint, c4 float, c5 double, c6 timestamp, c7 date)

## Insert Data

In [ ]:
%%sql

INSERT INTO demo_table VALUES("aaa", 12, 22, 2.200000, 12.300000, 1636097390000, "2021-08-19")

## Query Data

In [ ]:
%%sql

SELECT * FROM demo_table